* {
    font-family: "Vesper Libre", "Merriweather", sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0 200px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}    

a {
    text-decoration: none;
    color: black;

}


.navlist {
    display: inline-flex;
    font-weight: 600;
    font-size: 20px;
    margin: 5px;
}

#yang {
    display: inline-flex;
    height: 300px;
    width: 250px;
    border: 0px solid black;
    border-radius: 25%;
    /* flex-grow: 1; */
}

.aboutheader {
    margin: 0;
    padding: 0;
}

.aboutme {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
}

.description {
    width: 350px;
    flex-grow: 1;
    font-size: 19px;
}

#contactlist {
    display: flex;
    list-style: none;
    justify-content: center;
}

.email {
    text-decoration: underline;
}

.email:hover {
    color: rgb(172, 172, 172);
}

.contactlinks {
    display: inline-flex;
    align-items: center;
}

.contactmessage {
    font-size: 20px;
}

.logolinks {
    max-width: 50px;

}

.projlist {
    list-style-type: square;
    font-size: 25px;
}